
body {
  padding:0;
  margin:0;
  background: #ffeaa7;
  color: #333;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 60px;
    color: #ec9898;
}

.header {
  background-color: #325f50;
  text-align: center;
  padding: 5px;
}

.footer {
  background-color: #325f50;
  text-align: center;
  padding: 10px;
  color: white;
}

.grid-container {
  display: grid;
  text-align: center;
  padding: 20px;
}

.input_email {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 25px;
    padding: 5px;
    color: black; 
}

#email_box {
    text-align: center;
    font-size: 20px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#email_subject{
    text-align: center;
    font-size: 20px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.result{
    font-family: "MyHelvetica";
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    color: red;
}

#message{
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit_button{
  background-color: #325f50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

