/* body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
} */

body {
  margin: 0;
  padding: 0;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 80px;
    color: #007bff;
}

header {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}

.grid-container {
  display: grid;
  text-align: center;
  padding: 40px;
}

.input_email {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: black; 
}

#email_box {
    text-align: center;
    font-size: 20px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#email_subject{
    text-align: center;
    font-size: 20px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.submit_button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

#message {
  text-align: left;
  padding-top: 10px;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
