<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATCHPHISHING</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <h1>CATCHPHISHING</h1>
    </header>
    <div class="grid-container">
        <div class="input_email">
            <form name="email_address" action = "http://localhost:5000/Email" method = "POST">
                <label for="email_box">Email Address:<br></label>
                <input type = "email" id="email_box" name = "email_input"><br>
                <label for="email_subject">Email Subject:</label><br>
                <input type = "text" id="email_subject" name = "email_subject"><br>
                <label for="message">Email Content:</label><br>
                <textarea name="message" id="message" rows="20" cols="100" placeholder="Enter your email content here...."></textarea><br>
                <input type = "submit" class="submit_button" value = "submit">
            </form>
        </div>
    </div>
</body>
</html>